*{
    box-sizing: border-box;
    font-family: Arial;
}

body{
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main
{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 95%;
}

section{
    margin: 10px;
    text-align: center;
}

footer{
    text-align: center;
}

span{
    color: red;
}

.map{
    margin: 0 5px auto auto;
    padding: 15px;
}

.form{
    margin: 0 auto 0 5px;
}

.weather-display{
    color: #0d73f0;
}

.error{
    display: none;
    color: red;
    font-size: small;
}

form{
    text-align: left;
    padding: 10px;
    background-color: #eee;
    border: 1px solid rgb(114, 114, 114);
}

.pogoda-bottom h3{
    margin-bottom: 0;
}

.miasto-nazwa{
    color: #f00d0d;
}

.unit{
    width: 1rem;
    height: 1rem;
    color: #0069ed;
    cursor: pointer;
    margin: 10px auto 0;
    transition: color 250ms ease-in-out;
}

.unit:hover,
.unit:focus {
    color: #0053ba;
}

.pogoda-info{
    margin: 0 auto;
    width: 100%;
}

input {
    width: 100%;
}

.city{
    width: 30%;
}

.picture{
    display: block;
    margin: 0 auto;
}

.buttons-box{
    display: flex;
    flex-direction: row;
}

.clear, .send{
    width: 50%;
}

button{
    margin: 1rem;
    padding: 1rem;
    background: #0069ed;
    color: white;
    cursor: pointer;
    font-size: 100%;
    border: none;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.box{
    padding: 5px;
}

.link{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 75, 75); 
    transition: 500ms;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.link:hover,
.link:focus{
    color: rgb(150, 0, 0);   
}

.check{
    display: block;
    margin: 1rem auto;
}

.pogoda-bottom{
    margin: auto;
    width: 50%;
    min-height: 15vh;
    display: none;
    background-color: #ddd;
    border: 1px solid rgb(114, 114, 114);
}

#aktualna-pogoda{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

#pogoda-picture, #pogoda-box{
    width: 50%;
    margin: auto;
}

.pogoda-przyszla{
    width: 50%;
    min-height: 10vh;
    display: none;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;   
    margin: 1rem auto;
    background-color: #ddd;
    border: 1px solid rgb(114, 114, 114);
}

.pogoda-przyszla p{
    padding: 0 0.8rem;
    font-size: 0.85rem;
}

.pogoda-przyszla::-webkit-scrollbar{
    height: 5px;    
}
                    
.pogoda-przyszla::-webkit-scrollbar-track{
    background: rgb(151, 151, 151);
}
                    
.pogoda-przyszla::-webkit-scrollbar-thumb{
    background: #0d73f0;
}
.pogoda-przyszla::-webkit-scrollbar-thumb:hover{
    background: #04499e;
}

.picture-hour, .picture-day{
    height: auto; 
    max-width: 60px; 
}

.time-display, .time-temp-display, .time-realtemp-display{ 
    margin: 0.2rem;   
    display: block;
}

.time-temp-display{
    color: #0d73f0;
    font-size: larger;
}

.time-realtemp-display{
    color: #4a93ec;
}

.time-display{
    color: black;
    font-size: large;
}

/* responsive */
@media (max-width: 868px) { 
    main {
        flex-grow: 1;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .map{
        padding: 0;
        margin: auto;
    }

    .form{
        margin: auto auto 1rem;
    }
    
    .map iframe{
        width: 100%;
    }
 }

@media (max-width: 768px) {
    header{
        padding: 5px;
    }

    .city{
        width: 250px;
    }

    .pogoda-bottom, .pogoda-przyszla{
        width: 100%;
    }
}